[submodule "co-tracker"]
	path = co-tracker
	url = https://github.com/facebookresearch/co-tracker.git
[submodule "depth_anything"]
	path = depth_anything
	url = https://github.com/DepthAnything/Depth-Anything-V2
[submodule "Depth-Anything-V2"]
	path = Depth-Anything-V2
	url = https://github.com/DepthAnything/Depth-Anything-V2.git
