# Core deep learning and scientific computing libraries
torch
torchvision
torchaudio

# Computer Vision library
opencv-python

# Numerical operations and data handling
numpy
scipy

# Plotting and visualization
matplotlib
plotly
pyvista
# Progress bars for loops
tqdm



